<div class="form-all-container sss padding flex-center-center-row">
    <div class="form-container flex-left-between-row">
        <div class="title-form flex-between-center">
            <div class="title">
                <h3 class="form-title"><%- formSubscribeLayouts.title %></h3>
                <p class="description"><%- formSubscribeLayouts.desc %></p>
            </div>
            <ion-icon class="close-form" name="close-circle-outline"></ion-icon>

        </div>
        <form method="<%= formSubscribeLayouts.method %>" action="<%= formSubscribeLayouts.action %>"
            class="form flex-left-between-row" id="subscribe">

            <!-- Question -->
            <% formSubscribeLayouts.questions.forEach(question => { %>
            <label for="<%= question.idClassName %> "><%= question.label %></label>
            <input type="<%= question.type %>" name="<%= question.idClassName %>" id="<%= question.idClassName %>"
                required placeholder="<%= question.placeholder %>">
            <% }) %>
            <button type="submit" class="btn subscribe-submit">Submit</button>

        </form>

    </div>

</div>