 <!-- Navigation -->
 <div class="navigation-detail padding flex-between-center">
     <div class="logo">
         <a href="/">
             <i class="fa-brands fa-slack"></i>
         </a>
     </div>
     <form class="search-bar flex-between-center">
         <i class="fas fa-search flex-center-center"></i>
         <input class="query-search" type="text" name="query-search" id="query-search">
         <input class="submit-search" type="submit" value="Search">
     </form>
     <div class=""></div>
 </div>

 <!-- Hero -->
 <section class="hero" id="hero">
     <div class="hero-img">
         <img src="/img/detail-portfolio/product-research.jpg" alt="">
     </div>
 </section>

 <!-- desciptrion section -->
 <section class="service-container flex">
     <div class="explanation">
         <div href="/portofolio/product-research" class="card-explanation padding-content flex-left-evenly-row">
             <h3 class="title-card margin-tb-md"><%- selectPortfolio.title %></h3>
             <div class="desc-con flex-left-evenly-row margin-tb-md">
                 <p class="desc-card less"><%- selectPortfolio.desc %>
                 </p>
                 <a class="read read-more">Read More</a>
             </div>
             <div class="desc-con flex-evenly-center-row margin-tb-md">
                 <h4 class="sub-title">Type Content</h4>
                 <div class="desc-sub-con">
                     <div class="badge flex-evenly-center margin-tb-sm">
                         <ion-icon name="sparkles-outline"></ion-icon> Best
                     </div>
                     <div class="badge flex-evenly-center margin-tb-sm">
                         <ion-icon name="search-circle-outline"></ion-icon> Reseach
                     </div>
                     <div class="badge flex-evenly-center margin-tb-sm">
                         <ion-icon name="sunny-outline"></ion-icon> Quality
                     </div>
                     <div class="badge flex-evenly-center margin-tb-sm">
                         <ion-icon name="search-circle-outline"></ion-icon> Reseach
                     </div>
                     <div class="badge flex-evenly-center margin-tb-sm">
                         <ion-icon name="sunny-outline"></ion-icon> Quality
                     </div>
                 </div>
                 <div class="desc-sub-con flex-between-center">
                     <div class="stars flex-left-center">
                         <ion-icon name="star"></ion-icon>
                         <ion-icon name="star"></ion-icon>
                         <ion-icon name="star"></ion-icon>
                         <ion-icon name="star-half-outline"></ion-icon>
                         <ion-icon name="star-outline"></ion-icon>
                     </div>
                     <p class="font-icon">4.6 of 5 base on 200 review</p>
                 </div>
             </div>
             <a href="#" class="btn flex-center-center margin-tb-md">Show Offers</a>
         </div>
     </div>

     <div class="proses flex-center-center-row">
         <div class="title-proses">
             <h2 class="proses-title badge-title">Other Work</h2>
         </div>
         <div class="carausel-proses flex-between-center">
             <!-- btn for carausel -->

             <ion-icon class="btn-carausel left-btn-carausel" name="arrow-back-circle-outline"></ion-icon>
             <ion-icon class="btn-carausel right-btn-caraosel" name="arrow-forward-circle-outline"></ion-icon>

             <div class="carausel-container flex">
                 <% for( let i = 0; i < portfolio.length; i++ ) { %>
                 <a href="/portofolio/<%= portfolio[i].title %>" class="card-proses flex-left-center-row">
                     <img src="/img/carousel/research.png" alt="">
                     <h3 class="title-card"><%= portfolio[i].title %></h3>
                     <p class="desc-card"><%= portfolio[i].desc %></p>
                 </a>
                 <% } %>
             </div>
         </div>
     </div>
 </section>